<div class="row">
    <div class="col-lg-3">
        <div class="income-dashone-total income-monthly shadow-reset nt-mg-b-30">
            <div class="income-title">
                <div class="main-income-head">
                    <h2> Total visits</h2>
                    <div class="main-income-phara">
                        <p>Today</p>
                    </div>
                </div>
            </div>
            <div class="income-dashone-pro">
                <div class="income-rate-total">
                    <div class="price-adminpro-rate">
                        <h3><span class="counter">346</span></h3>
                    </div>
                    <div class="price-graph">
                        <span id="sparkline1"></span>
                    </div>
                </div>
                <div class="income-range">
                    <p></p>
                    <span class="income-percentange"></span>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="income-dashone-total orders-monthly shadow-reset nt-mg-b-30">
            <div class="income-title">
                <div class="main-income-head">
                    <h2>Available Cards</h2>
                    <div class="main-income-phara order-cl">
                        <p>Today</p>
                    </div>
                </div>
            </div>
            <div class="income-dashone-pro">
                <div class="income-rate-total">
                    <div class="price-adminpro-rate">
                        <h3><span class="counter">72320</span></h3>
                    </div>
                    <div class="price-graph">
                        <span id="sparkline6"></span>
                    </div>
                </div>
                <div class="income-range order-cl">
                   
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="income-dashone-total visitor-monthly shadow-reset nt-mg-b-30">
            <div class="income-title">
                <div class="main-income-head">
                    <h2>Total Visitors</h2>
                    <div class="main-income-phara visitor-cl">
                        <p>Today</p>
                    </div>
                </div>
            </div>
            <div class="income-dashone-pro">
                <div class="income-rate-total">
                    <div class="price-adminpro-rate">
                        <h3><span class="counter">7888200</span></h3>
                    </div>
                    <div class="price-graph">
                        <span id="sparkline2"></span>
                    </div>
                </div>
               
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="income-dashone-total user-monthly shadow-reset nt-mg-b-30">
            <div class="income-title">
                <div class="main-income-head">
                    <h2>Active Cards</h2>
                    <div class="main-income-phara low-value-cl">
                        <p>Today</p>
                    </div>
                </div>
            </div>
            <div class="income-dashone-pro">
                <div class="income-rate-total">
                    <div class="price-adminpro-rate">
                        <h3><span class="counter">88200</span></h3>
                    </div>
                    <div class="price-graph">
                        <span id="sparkline5"></span>
                    </div>
                </div>
              
                <div class="clear"></div>

            </div>
        </div>
    </div>
</div>

 <div class="footer-copyright-area">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-8">
                                    <table>
                                            <tr class="row">
                                               <td style="width:700px; height:50%"><Canvas id="lineChart"></Canvas></td>
                                            
                                            </tr>
                                         </table>
                                </div>
                                <div class="col-lg-4 skill-content-3">
                                        <div class="skill">
                                            <div class="progress">
                                                <div class="lead-content">
                                                    <h3>346</h3>
                                                    <p>Total Visits today</p>
                                                </div>
                                                <div class="progress-bar wow fadeInLeft" data-progress="95%" style="width: 95%;" data-wow-duration="1.5s" data-wow-delay="1.2s"> <span>95%</span>
                                                </div>
                                            </div>
                                            <div class="progress">
                                                <div class="lead-content">
                                                    <h3>9,346</h3>
                                                    <p>Total Visitors </p>
                                                </div>
                                                <div class="progress-bar wow fadeInLeft" data-progress="85%" style="width: 85%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>85%</span> </div>
                                            </div>
                                          
                                               
                                           

                                           
                                        </div>
                                    </div>
                            
                            </div>
                        
                        
                        </div></div>