<!doctype html>
<html class="no-js" lang="en">

<body class="materialdesign">
   
    <!-- Header top area start-->
   
    <div class="wrapper-pro">
 <!---------------------------Side Bar Start--------------------------------------------------->
      
       <app-sidebar></app-sidebar>
       
 <!---------------------------Side Bar Start--------------------------------------------------->


        <div class="content-inner-all">
     <!---------------------------------------------------NavBar Start------------------------------------------------------------>
            <app-header></app-header>
           <!---------------------------------------------------NavBar Ends------------------------------------------------------------>

            <!-- Header top area end-->
            <!------------------------------------------------ Breadcome start------------------------------->
            
            <div class="breadcome-area mg-b-30 small-dn">
                <div class="container-fluid">
                    
                </div>
            </div>
             <!---------------------------Search Bar Ends--------------------------------------------------->         
           <!-- income order visit user Start -->
           <app-content></app-content>
            <!------------------------------------------------------------------------------>
             

            </div>
           

    </div>
    <!-- Footer Start-->
    <!-- Footer End-->
   
   
    
</body>

</html>